@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab|Slabo+27px');
// font-family: 'Slabo 27px', serif;
// font-family: 'Roboto Slab', serif;
// font-family: 'Roboto', sans-serif;
body 
{
    background-color: rgb(0, 0, 0);
}

.post 
{
    font-family: 'Slabo 27px', serif;
    -webkit-text-fill-color: black;
    display: flex;
    background-color: wheat;
}
p{
    -webkit-margin-after: 0px;
}
.castList {
    -webkit-margin-before: 2%;
}
.textbox {
    margin: 10%;
}

.image {
    padding: 1%;
    margin-bottom:  0px;
}
